<h1> Weather APP </h1>
<!--<b>{{ date }}</b>
<p> Name : {{name}}</p>
<p> Age : {{age}}</p>-->
<div>
    <a href="/home"><h4>Weather</h4></a>
    <a href="/about"><h4>About</h4></a>
    <a href="/contact"><h4>Contact us</h4></a>
</div>
